{% extends "layout.html" %}

{% block title %}Green Academy{% endblock %}


{% block content %}

<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="brandname" href="">GREEN ACADEMY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="nav nav-pills col-6">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
          <div class="dropdown-menu" style="">
            {% for course_title in courses_titles %}
              <a class="dropdown-item" href="#">{{ course_title }}</a>
              <div class="dropdown-divider"></div>
            {% endfor %}    
          </div>
        </li>
        <li class="nav-item active to_add_left_border">
          <a class="nav-link" href="#">Schools & Partners</a>
        </li>
      </ul>
      <a class="sign_in_buttons" href="#">
        <button type="button" class="btn btn-outline" id="sign_in_button" data-toggle="modal" data-target="#signinmodal">Sign In</button>
      </a>
      <a class="sign_in_buttons" href="#">
        <button type="button" class="btn btn-outline" data-toggle="modal" data-target="#registermodal">Sign Up</button>
      </a>     
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>


<!-- hero -->
<div class="jumbotron jumbotron-fluid">
  <div class="container" id="hero">
    <h2 class="display-4">Access online Courses</h2>
    <h3 class="display-4">Start today !!!</h3>
    <a class="btn btn-outline" href="#" role="button">Find courses</a>
  </div> 
</div>

<!-- after hero-->
<section>
  <div class="container">
    <div class="row">
      <div class="col" id="after_hero">
          <img src="/static/img/undraw_book_lover_mkck.svg" alt="working_woman" id="working_woman">
          <div class="title_text">
            <h1 class="title">Learn at your own space and at your own speed</h1>
            <p class="text-primary">
              Text here ....
            </p>
          </div>
            
      </div>
    </div>
  </div>
</section>

<!-- Subjects section -->
<section>
  <div class="container">
    <h1 id="subjects_title">Popular Subjects</h1>
  </div>
  <div class="container subjects">
    
    {% for category in categories %}
      <div class="card border-success mb-3" style="width: 20rem; margin-bottom: 1em;">
        <div class="card-header"></div>
        <div class="card-body">
          
          <h4 class="card-title">
            <a href="#" class="stretched-link">{{ category }}</a>   
          </h4>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="container">
    <a class="btn btn-outline" href="#"  style="margin: 30px 0px 30px 0px;">Find courses</a>
  </div>
</section>


<!--register modal-->
<div class="modal" id="registermodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <fieldset>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="inputPassword1">Password</label>
              <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="inputPassword2">Password Confirmation</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
            </div>
            <div class="form-group">
              <label for="inputPhone">Phone Number</label>
              <input type="tel" class="form-control" id="inputPhone" placeholder="Phone Number">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline">Register</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>

<!--sign in modal -->
<div class="modal" id="signinmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <fieldset>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline">Sign In</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>

{% endblock %}